force-app/main/default/flows/Asset_IMEI_Scan_Network_Activation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <description>FTR-006 Track 2 — When IMEI_Scanned__c is set to true on an Asset, enqueue TelcoNetworkActivationQueueable via EnqueueNetworkActivation Invocable. Only fires when Network_Activation_Status__c is still Pending_Activation — prevents re-triggering on already-active assets. See ADR-002.</description>
    <interviewLabel>Asset IMEI Scan Network Activation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asset IMEI Scan — Enqueue Network Activation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>176</locationX>
        <locationY>48</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IMEI_Scanned__c</field>
            <operator>EqualTo</operator>
            <value><booleanValue>true</booleanValue></value>
        </filters>
        <filters>
            <field>IMEI_Scanned__c</field>
            <operator>IsChanged</operator>
            <value><booleanValue>true</booleanValue></value>
        </filters>
        <filters>
            <field>Network_Activation_Status__c</field>
            <operator>EqualTo</operator>
            <value><stringValue>Pending_Activation</stringValue></value>
        </filters>
        <object>Asset</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>

    <!-- Verify OrderItemId__c is populated before enqueue -->
    <decisions>
        <name>Has_Order_Item</name>
        <label>Has OrderItem Reference?</label>
        <locationX>176</locationX>
        <locationY>168</locationY>
        <defaultConnector>
            <targetReference>End_No_OrderItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No OrderItem — skip</defaultConnectorLabel>
        <rules>
            <name>OrderItem_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderItemId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Enqueue_Network_Activation</targetReference>
            </connector>
            <label>OrderItem present</label>
        </rules>
    </decisions>

    <!-- Call EnqueueNetworkActivation Invocable -->
    <actionCalls>
        <name>Enqueue_Network_Activation</name>
        <label>Enqueue Network Activation</label>
        <locationX>176</locationX>
        <locationY>288</locationY>
        <actionName>EnqueueNetworkActivation</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>orderItemId</name>
            <value><elementReference>$Record.OrderItemId__c</elementReference></value>
        </inputParameters>
    </actionCalls>

    <programmaticFlowNodes>
        <name>End_No_OrderItem</name>
        <label>End — No OrderItem</label>
        <locationX>396</locationX>
        <locationY>168</locationY>
    </programmaticFlowNodes>

    <environments>Default</environments>
    <runInMode>DefaultMode</runInMode>
    <status>Active</status>
</Flow>
