force-app/main/default/flows/Order_Activation_Hardware_Fulfillment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <description>FTR-006 Track 1 — On Order activation, loop over OrderItems and publish Hardware_Fulfillment__e Platform Event for each. Sets ERP_Confirmed__c as idempotency guard. See ADR-003.</description>
    <interviewLabel>Order Activation Hardware Fulfillment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Activation — Hardware Fulfillment Publisher</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>176</locationX>
        <locationY>48</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value><stringValue>Activated</stringValue></value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value><booleanValue>true</booleanValue></value>
        </filters>
        <connector>
            <targetReference>Get_Hardware_Order_Items</targetReference>
        </connector>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>

    <recordLookups>
        <name>Get_Hardware_Order_Items</name>
        <label>Get Hardware Order Items</label>
        <locationX>176</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Order_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value><elementReference>$Record.Id</elementReference></value>
        </filters>
        <filters>
            <field>ERP_Confirmed__c</field>
            <operator>EqualTo</operator>
            <value><booleanValue>false</booleanValue></value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <outputReference>iterOrderItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OrderId</queriedFields>
        <queriedFields>Quantity</queriedFields>
    </recordLookups>

    <loops>
        <name>Loop_Order_Items</name>
        <label>Loop Order Items</label>
        <locationX>176</locationX>
        <locationY>288</locationY>
        <collectionReference>iterOrderItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Publish_Hardware_Event</targetReference>
        </nextValueConnector>
    </loops>

    <recordCreates>
        <name>Publish_Hardware_Event</name>
        <label>Publish Hardware Fulfillment Event</label>
        <locationX>176</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>Mark_ERP_Confirmed</targetReference>
        </connector>
        <inputAssignments>
            <field>Order_Id__c</field>
            <value><elementReference>$Record.Id</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Item_Id__c</field>
            <value><elementReference>Loop_Order_Items.Id</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value><elementReference>Loop_Order_Items.Quantity</elementReference></value>
        </inputAssignments>
        <object>Hardware_Fulfillment__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>

    <recordUpdates>
        <name>Mark_ERP_Confirmed</name>
        <label>Mark ERP Confirmed</label>
        <locationX>176</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Loop_Order_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value><elementReference>Loop_Order_Items.Id</elementReference></value>
        </filters>
        <inputAssignments>
            <field>ERP_Confirmed__c</field>
            <value><booleanValue>true</booleanValue></value>
        </inputAssignments>
        <object>OrderItem</object>
    </recordUpdates>

    <variables>
        <name>iterOrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>

    <environments>Default</environments>
    <runInMode>DefaultMode</runInMode>
    <status>Active</status>
</Flow>
