force-app/main/default/flows/Order_Activation_Fiber_Work_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <description>FTR-006 Track 3 — On Order activation, find all FIBER_INSTALL OrderItems and call CreateFieldServiceWorkOrder Invocable Action to create FSL Work Orders. Fiber_Meters__c drives technician prep time. See ADR-003.</description>
    <interviewLabel>Order Activation Fiber Work Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Activation — Fiber Work Order Creator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>176</locationX>
        <locationY>48</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value><stringValue>Activated</stringValue></value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value><booleanValue>true</booleanValue></value>
        </filters>
        <connector>
            <targetReference>Get_Fiber_Order_Items</targetReference>
        </connector>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>

    <recordLookups>
        <name>Get_Fiber_Order_Items</name>
        <label>Get Fiber Install Order Items</label>
        <locationX>176</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Has_Fiber_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value><elementReference>$Record.Id</elementReference></value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <outputReference>iterFiberItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OrderId</queriedFields>
        <queriedFields>Fiber_Meters__c</queriedFields>
        <queriedFields>Site_Id__c</queriedFields>
    </recordLookups>

    <decisions>
        <name>Check_Has_Fiber_Lines</name>
        <label>Has Fiber Install Lines?</label>
        <locationX>176</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>No fiber lines — done</defaultConnectorLabel>
        <rules>
            <name>Has_Fiber_Lines</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iterFiberItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Fiber_Items</targetReference>
            </connector>
            <label>Fiber lines found</label>
        </rules>
    </decisions>

    <loops>
        <name>Loop_Fiber_Items</name>
        <label>Loop Fiber Items</label>
        <locationX>176</locationX>
        <locationY>408</locationY>
        <collectionReference>iterFiberItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Work_Order</targetReference>
        </nextValueConnector>
    </loops>

    <actionCalls>
        <name>Create_Work_Order</name>
        <label>Create Field Service Work Order</label>
        <locationX>176</locationX>
        <locationY>528</locationY>
        <actionName>CreateFieldServiceWorkOrder</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Fiber_Items</targetReference>
        </connector>
        <inputParameters>
            <name>fiberMeters</name>
            <value><elementReference>Loop_Fiber_Items.Fiber_Meters__c</elementReference></value>
        </inputParameters>
        <inputParameters>
            <name>siteId</name>
            <value><elementReference>Loop_Fiber_Items.Site_Id__c</elementReference></value>
        </inputParameters>
    </actionCalls>

    <variables>
        <name>iterFiberItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>

    <environments>Default</environments>
    <runInMode>DefaultMode</runInMode>
    <status>Active</status>
</Flow>
